/* CSS Document */
body{
    margin:0;
    background-image: url("M05_woodland_pattern.jpg");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Courier New', monospace;
    
    
}
.navbox{
    width: 100%;
    height: 80px;
    margin-top: 0px;
    margin-left: 0px;
    border: 5px solid green;
    background-color: rgb(3, 34, 3);
    transition: 0.5s;
    position: fixed;
    z-index: 1;
    padding: 5px;
    
}
.navbox h1{
    float: left;
    margin-left: 2.5%;
    margin-right:5%;
    margin-top: -5px;
    font-size: 80px;
    color: white;
}
.nav-buttons{
    width: 1200px;
    margin-left: 20%;
    margin-top: auto;
    padding: 10px;
    height: 21px;
    float: right;
    position: absolute;
}

.nav-buttons li{
    display:inline;
    padding:2px;
    
}
.button{
    font-size: 3em;
    padding: 3px;
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    border: 2px solid white;
}
.button:link{
    background-color: darkgreen;
    color: white;
    border: 2px solid white;
}
.button:hover{
    background-color:greenyellow;
    color: black;
}
.content{
    height: 1200px;
    width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 5px solid green;
}


.top{
    margin-top:80px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    padding: 20px;

}
.left{
    float: left;
    padding: 20px;
    width: 650px;
    margin-left: 20px;
}
.right{
    float: right;
    padding: 20px;
    width: 650px;
    margin-right: 20px;
}
.content h3{
    float: left;
    padding: 20px;
    width: 700px;
    font-weight: bolder;
    margin-left: 20px;
}
.link{
    float: left;
    padding: 20px;
    width: 600px;
    font-weight: bold;
    margin-left: 20px;
    color: darkgreen;
}
.kuva1{
    float: right;
    width: 400px;
    height: 250px;
    padding-right: 80px;
}
.kuva2{
    float: right;
    width: 300px;
    height: 450px;
    padding-right: 80px;
}
.kuva3{
    float: right;
    width: 390px;
    height: 250px;
    padding-right: 30px;
}
